<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>

<% if @comment.beast%>
  <%= link_to "wróc do bestii", @comment.beast %>
<% else %>
  <%= link_to "wróc do przedmiotu", @comment.subject %>
<% end %>

